.full-width{
    width: 100% !important;
}

.buffer-top{
    margin-top: 15px;
}

.navbar-toggle .icon-bar{
    background-color: dodgerblue
}

.navbar-toggle{
    display: block !important;
}

#menu{
    display: none;
}

header{
    position: fixed !important;
    top: 0;
    left:0;
    width: 100%;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
}

header.shown{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}